<div class="content pt_shadow">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<h2 class="user_sttng_panel_hd">{{LANG edit_app}}</h2>
			
			<form action="" class="form-horizontal pt_forms user-app-form" method="POST">
				<div class="user-app-alert"></div>
				<div class="pp_mat_input">
					<input id="app_id" type="text" value="{{app_id}}" readonly>
					<label for="app_id">{{LANG app_id}}</label>
				</div>
				<div class="pp_mat_input">
					<input id="app_secret" type="text" value="{{app_secret}}" readonly>
					<label for="app_secret">{{LANG app_secret}}</label>
				</div>
				<div class="pp_mat_input">
					<input id="app_name" name="app_name" type="text" value="{{app_name}}">
					<label for="app_name">{{LANG name}}</label>
				</div>
				<div class="pp_mat_input">
					<input id="app_website_url" name="app_website_url" type="text" value="{{app_website_url}}">
					<label for="app_website_url">{{LANG domain}}</label>
				</div>
				<div class="pp_mat_input">
					<input id="app_callback_url" name="app_callback_url" type="text" value="{{app_callback_url}}">
					<label for="app_callback_url">{{LANG redirect_uri}}</label>
				</div>
				<div class="pp_mat_input">
					<textarea name="app_description" id="app_description" cols="30" rows="5">{{app_description}}</textarea>
					<label for="app_description">{{LANG descritpion}}</label>
				</div>
				
				<div class="vp_media_file vp_media_file_preview">
					<span class="btn btn-file" onclick="$('#app-media').trigger('click'); return false;">
						<span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M16.5,6V17.5A4,4 0 0,1 12.5,21.5A4,4 0 0,1 8.5,17.5V5A2.5,2.5 0 0,1 11,2.5A2.5,2.5 0 0,1 13.5,5V15.5A1,1 0 0,1 12.5,16.5A1,1 0 0,1 11.5,15.5V6H10V15.5A2.5,2.5 0 0,0 12.5,18A2.5,2.5 0 0,0 15,15.5V5A4,4 0 0,0 11,1A4,4 0 0,0 7,5V17.5A5.5,5.5 0 0,0 12.5,23A5.5,5.5 0 0,0 18,17.5V6H16.5Z"></path></svg><div id="productimage-holder"><img src="{{app_avatar}}" class="thumb-image" alt='Picture'></div></span>
						<div>
							<b>{{LANG thumbnail}}</b>
							<p>jpg, png, gif</p>
						</div>
					</span>
					<input id="app-media" name="app_avatar" type="file" class="hidden" accept="image/*">
				</div>
				
				<div class="progress hidden">
					<span class="percent">0%</span>
					<div class="progress_bar_parent">
						<div class="bar upload-progress-bar progress-bar active"></div> 
					</div>
					<div class="clear"></div>
					<div class="text-center pt_prcs_vdo"></div>
				</div>
				<input type="hidden" name="id" value="{{id}}">
				
				<div class="vp_forms_sbm_btn text-center">
					<button type="submit" class="btn btn_primary" id="submit-btn">{{LANG edit}}</button>
				</div>
			</form>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>

<script>

    var _Delay = (function(){
        var timer = 0;
        return function(callback, ms){
            clearTimeout (timer);
            timer = setTimeout(callback, ms);
        };
    })();

    function scrollToTop() {
        verticalOffset = typeof (verticalOffset) != 'undefined' ? verticalOffset : 0;
        element = $('html');
        offset = element.offset();
        offsetTop = offset.top;
        $('html, body').animate({
            scrollTop: offsetTop
        }, 300, 'linear');
    }

  var bar         = $('.bar');
  var percent     = $('.percent');

	jQuery(document).ready(function($) {
		$("#app-media").on('change', function() {
			$("#productimage-holder").html("<img class='thumb-image' src='" + window.URL.createObjectURL(this.files[0]) + "' alt='Picture'>");
	  });

    $('.user-app-form').ajaxForm({
      url: '{{LINK aj/developers/edit}}?hash=' + $('.main_session').val(),
      dataType:"json",
      beforeSend: function() {
        if ($("#app-media").val()) {
          $(".user-app-alert").html($('.progress').clone(true).addClass('progress-clone').removeClass('hidden'));
          bar     = $('.progress-clone').find('.bar');
          percent = $('.progress-clone').find('.percent');
        }

        $('#submit-btn').attr('disabled', true).text("{{LANG please_wait}}");
        
      },
      uploadProgress: function(event, position, total, percentComplete) {
          if(percentComplete > 50) {
            percent.addClass('white');
          }
          var percentVal = percentComplete + '%';
          bar.width(percentVal);
          percent.html(percentVal);

          if (percentComplete == 100) {
            $(".user-app-alert").empty();
          }
      },
      success: function(data) {
        scrollToTop();
        $('#submit-btn').removeAttr('disabled').text('{{LANG edit}}');
        if (data.status == 200){
          $(".user-app-alert").html('<div class="alert alert-success bg-success"><i class="fa fa-check"></i> '+
            data.message
            +'</div>');
            _Delay(function(){
            window.location.href = data.url;
          },2000);
          
        }
        else {
          $('#submit-btn').removeAttr('disabled').text('{{LANG edit}}');
          $(".user-app-alert").html('<div class="alert alert-danger bg-danger"><i class="fa fa-info-circle"></i> '+
            data.message
            +'</div>');
        }
      }
    });
	});
</script>