<div class="related-video-wrapper">
	<div class="ra-thumb">	
		<img src="{{IMAGE}}">
		<div class="ra-overlay">
			<a href="{{URL}}" data-load="?link1=watch&id={{VIDEO_ID_}}">
				<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="36" viewBox="0 0 24 24" width="36" fill="currentColor"><g><rect fill="none" height="24" width="24"/></g><g><path d="M12,2C6.48,2,2,6.48,2,12s4.48,10,10,10s10-4.48,10-10S17.52,2,12,2z M9.5,14.67V9.33c0-0.79,0.88-1.27,1.54-0.84 l4.15,2.67c0.61,0.39,0.61,1.29,0,1.68l-4.15,2.67C10.38,15.94,9.5,15.46,9.5,14.67z"/></g></svg>
			</a>
		</div>
	</div>
	<div class="ra-title">
		<h5><a href="{{URL}}" data-load="?link1=watch&id={{VIDEO_ID_}}">{{TITLE}}</a></h5>
		<div class="article_pub_user">
			<div>
				<h6><a href="{{USER url}}" data-load="?link1=timeline&id={{USER username}}">{{USER name}}</a></h6>
				<time>{{VIEWS}} {{LANG views}}</time>
			</div>
		</div>
	</div>
</div>